.menu{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card{
    background-color: rgb(136, 136, 247);
    padding: 20px;
}

.form-triangle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-gap: 5px;
}